@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}
.top-container {
  width: 100%;
  height: 60vh;
  background-color: #6948ad;
  background-image: url("./images/bg-mobile.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .hero-image {
    display: block;
    width: 25em;
    margin: 4em auto;
  }
}
.bottom-container {
  background-color: #6948ad;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  h1 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.7em;
    font-weight: 600;
  }
  p {
    margin: 0 auto;
    max-width: 22em;
  }
  button {
    margin-top: 1em;
    border: none;
    padding: 0.5em 5em;
    border-radius: 3em;
    color: #6948ad;
    font-size: 1.1rem;
  }
}
nav {
  display: flex;
  img {
    width: 10em;
    margin-top: 2em;
    margin-left: 2em;
  }
}
footer {
  background-color: #6948ad;
  .fa-facebook:before {
    content: "\f09a";
    background-color: transparent;
  }
}
