@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #b10ee7;
  --text-color: #f5f5f5;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}
.top-container {
  width: 100%;
  height: 60vh;
  background-color: var(--primary-color);
  background-image: url("./images/bg-mobile.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .hero-image {
    display: block;
    width: 25em;
    margin: 4em auto;
  }
}
.bottom-container {
  background-color: var(--primary-color);
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  h1 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.7em;
    font-weight: 600;
  }
  p {
    margin: 1em auto;
    max-width: 22em;
  }
  button {
    margin-top: 1em;
    border: none;
    padding: 0.5em 5em;
    border-radius: 3em;
    color: var(--primary-color);
    font-size: 1.1rem;
  }
}
nav {
  display: flex;
  img {
    width: 10em;
    margin-top: 2em;
    margin-left: 2em;
  }
}
footer {
  padding: 3em;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2em;
  i.fab {
    border-radius: 50%;
    border: 1px solid var(--text-color);
    padding: 0.5em;
    &:nth-of-type(1) {
      padding: 0.6em 0.8em;
    }
  }
}
